/* CKEDITOR STYLES */
#editor-status {
    color: green;
}

.ck-word-count {
    display: flex;
    gap: 1em;
    font-size: var(--step--2);
}

/* SELECT ELEMENT */
select,
::picker(select) {
    appearance: base-select;
}


/* EDITOR STYLES */
.edit-header:has(*) {
    font-size: var(--step--2);
    display: grid;
    grid-template-areas:
        "background title"
        "buttons subtitle";
    grid-template-columns: max-content 1fr;
    gap: 1em;
    padding: 0.5em;
}
.edit-header > fieldset {
    inline-size: fit-content;
}
.edit-header legend {
    font-stretch: 125%;
    font-weight: 600;
}
.edit-header label {
    font-weight:550;
}
.edit-header label > * {
    margin-inline-start: 0.5em;
    font: inherit;
}
.edit-header > fieldset.background-color {
    grid-area: background;
    align-self: start;
    justify-self: center;
}
.edit-header > fieldset.title-font {
    grid-area: title;
}
.edit-header > fieldset.subtitle-font {
    grid-area: subtitle;
}
.edit-header > div.buttons {
    grid-area: buttons;
}
.edit-header > svg {
    display: none;
}


/* EDIT FOOTER STYLES */
.edit-footer, .edit-footer>div {
    margin: 3vh;
}
