@media (prefers-reduced-motion: no-preference) {
    @view-transition {
        navigation: auto;
    }
}

::view-transition-group(root) {
    animation-duration: 1s;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: var(--step-0);
    line-height: 1.4;
}

blockquote,
body,
figure,
h1,
h2,
h3,
h4,
p,
menu,
form {
  margin: 0;
}

main {
  font-family: var(--font-family-subtitle);
  padding-inline: 1rem;
  container-type: inline-size;
}

/* Prevent auto font increase on nested elements */
li {
    font-size: var(--step-0);
}

[role="list"] {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flow blockquote {
  inline-size: fit-content;
  background: var(--color-primary-lightest);
  border-inline: 0.2em solid var(--color-primary)!important;
  border-radius: 0.5em;
  font-style: normal!important;
  font-stretch: 200%;
}

.flow blockquote > * {
  padding: 1em;
}

img {
  max-width: 100%;
  height: auto;
  /* display: block; */
  object-fit: cover;
  border-radius: var(--img-border-radius,1em);
}

.wrapper {
  max-width: var(--max-width);
  margin-inline: auto;
}

/* NORMALIZE IMAGE INLINE STYLES AND CLASSES THAT ARE INCLUDED BY CKEDITOR */

.image {
    clear: both;
    display: table;
    margin: .9em auto;
    min-width: 50px;
    text-align: center;
}

.image>figcaption {
    background-color: var(--ck-color-image-caption-background);
    caption-side: bottom;
    color: var(--ck-color-image-caption-text);
    font-size: .75em;
    outline-offset: -1px;
    padding: .6em;
    word-break: break-word;
    text-align:center;
}


.image.image-style-block-align-left, .image.image-style-block-align-right {
    max-width: calc(100% - var(--ck-image-style-spacing));
}
.image.image-style-align-left, .image.image-style-align-right {
    clear: none;
}

.image.image-style-side {
    float: right;
    margin-left: var(--ck-image-style-spacing);
    max-width: 50%;
}

.image.image-style-align-left {
    float: left;
    margin-right: var(--ck-image-style-spacing);
}

.image.image-style-align-right {
    float: right;
    margin-left: var(--ck-image-style-spacing);
}

.image.image-style-block-align-right {
    margin-right: 0;
    margin-left: auto;
}

.image.image-style-block-align-left {
    margin-left: 0;
    margin-right: auto;
}

.image-style-align-center {
    margin-left: auto;
    margin-right: auto;
}

.image-style-align-left {
    float: left;
    margin-right: var(--ck-image-style-spacing);
}

.image-style-align-right {
    float: right;
    margin-left: var(--ck-image-style-spacing);
}

p + .image.image-style-align-left,
p + .image.image-style-align-right,
p + .image.image-style-side {
    margin-top: 0;
}

.image.image-style-align-left, .image.image-style-align-right {
    margin-top: var(--ck-inline-image-style-spacing);
    margin-bottom: var(--ck-inline-image-style-spacing);
}

.image.image-style-align-left {
    margin-right: var(--ck-inline-image-style-spacing);
}

.image.image-style-align-right {
    margin-left: var(--ck-inline-image-style-spacing);
}

.image img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    min-width: 100%;
}


/* HEADER STYLES */

body>header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template: "container";
  place-items: center;
  background-color: var(--color-primary);
  color: var(--header-text-color);
}

body>header:has(img)>div {
  display:contents;
}

body>header:has(img)+svg {
  display:none;
}

body>header>div {
  border:1px solid var(--header-text-color);
  padding: 1em;
  margin-block: 1em;
}

body>header img {
  grid-area: container;
  grid-column: 1/-1;
  grid-row: 1/-1;
  width:100%;
  height:auto;
  object-fit:cover;
  max-height: 60dvh;
  border-radius: initial;
}

.title {
  grid-area: container;
  place-self: start center;
  line-height: 1;
  text-align: center;
  font-family: var(--font-family-title);
}

.subtitle {
  grid-area: container;
  line-height: 1;
  text-align: center;
  font-family: var(--font-family-subtitle);
  margin-block-start: 3vmin;
  place-self:end center;
}

.subtitle:empty {
    display: none;
}

/* FOOTER STYLES */
body>footer {
  margin-block-start: 1rem;
  font-family: var(--font-family-subtitle);
  font-size: var(--step--1);
  background-color: var(--footer-background-color);
  color: var(--footer-color);
  padding: 1em;
}

body>footer>a {
  color: inherit;
  text-decoration: none;
}


/* NAVIGATION STYLES */
.topnav {
  position: sticky;
  top: 0;
  color: var(--color-text);
  background-color: var(--color-background);
  --flex-wrap: nowrap;
  --flex-gap: 0;
}

.topnav :last-child {
  align-self: flex-start;
}

nav {
  font-family: var(--font-family-ui);
  font-size: var(--step--2);
}

nav > ul:before {
  content:"";
  position: absolute;
  position-anchor: --li;
  inset: auto anchor(right) anchor(bottom) anchor(left);
  height: .2em;  
  background: lightblue;
  transition: .2s .2s;
}

nav > ul li {
  background: 
    conic-gradient(lightblue 0 0)
    bottom/100% 0% no-repeat;
  transition: .2s;
}

nav > ul li:is(:hover,.active) {
  anchor-name: --li;
  background-size: 100% 100%;
  transition: .2s .4s;
}

nav > ul:has(li:hover) li.active:not(:hover) {
  anchor-name: none;
  background-size: 100% 0%;
  transition: .2s;
}

nav a {
  text-decoration: none;
  font-weight: 550;
  display: block;
  line-height: 1.5;
  padding-inline: .2em;
}

.curve {
  --block-size: 2em;
  display: block;
  block-size: var(--block-size);
  inline-size: 100%;
  fill: var(--color-primary);
}

aside.login {
  padding-block-start: 0.25em;
  padding-inline-end: 0.5em;
}

.align-center {
  text-align: center;
}
.align-end {
  text-align: end;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

h1 {
  font-size: var(--step-4);
  overflow-wrap: break-word;
}
h2 {
  font-size: var(--step-3);
}
h3 {
  font-size: var(--step-2);
}
h4 {
  font-size: var(--step-1);
}
p {
  font-size: var(--step-0);
  text-wrap: pretty;
}
small {
  font-size:var(--step--2);
}

main h2,
main h3,
main h4 {
  text-wrap: pretty;
  font-family: var(--font-family-title);
}


/* PROMOTION STYLES */
.promotion {
    display:grid;
    place-items:center;
    margin-block: 1rem;
}
.promotion img {
    inline-size: var(--space-3xl);
}

/* LINK STYLES */
main a {
  text-decoration: underline;
  color: var(--color-primary-light);
}

main a:visited {
    color: rebeccapurple;
}

main a:hover {
    color: var(--color-primary);
}

.no-padding {
  --padding: 0;
}

/* CARD STYLES */
.card {
  --card-radius: 0.5em;
  container-type: inline-size;
  background: var(--color-primary);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  border: solid 2px #fff;
  border-radius: var(--card-radius);
  padding: 0.5em;
}
.card:focus-within,
.card:hover {
  box-shadow: 4px 8px 8px hsl(0deg 0% 0%/0.38);
}
.card a:hover {
  color:currentColor;
}
.icon {
  pointer-events: none;
}
.card .icon {
  margin-inline: auto;
  inline-size: 25%;
  fill: #fff;
}
.card :is(h2, h3, h4) {
  text-transform: uppercase;
}

.card img {
  block-size: 16rem;
  border-radius: var(--card-radius);
}
.card p {
  hyphens: manual;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.card h2 {
  transition: all 0.2s ease-in-out;
}
.card:hover h2 {
  transform: scale(1.05);
  text-decoration: underline;
}
.card a {
    text-decoration: none;
    color: inherit;
}
.card a:visited {
    color: inherit;
}

.card>*:last-child {
  display: flex;
  justify-content: space-between;
  margin-block-start: auto;
}


/* SIMPLE GRID  - DEFAULT IS 2 EQUAL-SIZED COLUMNS WITH NO GAP */

.grid {
  --grid-gap: var(--space-s);
  display: grid;
  grid-template-columns: var(--grid-template-columns, 1fr 1fr);
  outline: var(--grid-border);
  text-align: var(--text-align, center);
  gap: var(--grid-gap);
}

.grid__auto_fill {
    --grid-template-columns: repeat(auto-fill,
    minmax(min(var(--grid-min-item-size, 18rem), 100%), 1fr)
  );
}

.grid__auto_fit {
    --grid-template-columns: repeat(auto-fit,
    minmax(min(var(--grid-min-item-size, 18rem), 100%), 1fr)
  );
}

.grid__2col {
  --grid-template-columns: repeat(2, 1fr);
}

.grid__4col {
  --grid-template-columns: repeat(4, 1fr);
}

.grid__6col {
  --grid-template-columns: repeat(6, 1fr);
}

.grid > * {
  padding: var(--grid-padding, 0.2em 0.5em);
  border-inline-start: var(--grid-border);
  border-block-end: var(--grid-border);
}

.grid-heading {
  color: #fff;
  background-color: var(--color-primary);
}

.grid[data-grid-variant="1"] {
  --grid-template-columns: 10ch 1fr;
  outline: initial;
  align-items: baseline;
  column-gap: 1em;
}

.grid[data-grid-variant="1"]>* {
  --grid-padding: 1em 0;
  border: initial;
}

.grid[data-grid-variant="1"]>*:nth-child(odd) {
  text-align: end;
  color: var(--color-primary-light);
  font-size: var(--step--2);
}

.grid[data-grid-variant="1"]>*:nth-child(even) {
  text-align: start;
  border-block-end: var(--grid-border);
  font-size: var(--step--1);
}

/* MORE UtILITES - NEED TO STRUCTURE THIS */
.round-border {
  border-radius: 50%;
}
.curved-border {
  border-radius: var(--space-m);
}
.color-yellow {
  color: #ff0;
}
.icon-with-text {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.icon-with-text > svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

/* VISUALLY-HIDDEN CAN'T BE SEEN EXCEPT TO ASSISTIVE TECHNOLOGY */

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

pre {
  padding: 1em;
}
form {
  --border: solid 1px var(--color-primary);
  font-family: var(--font-family-ui);
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-radius: 0.5em;
  padding-block: 0;
}
form label {
  display: block;
  font-weight: 350;
}
form input[type="text"], form input[type="email"], form input[type="tel"] {
  inline-size: 100%;
  font: inherit;
  line-height: 2;
  /* field-sizing: content; */
}

form input+div {
    block-size: 2lh;
}

form textarea {
  resize: vertical;
  min-block-size: 7rem;
  font-size: var(--step-0);
  inline-size: 100%;
  line-height: 1.5;
}

fieldset {
    border-radius:0.5em;
}

/* FLEX ITEMS */
.flex-items {
  display: flex;
  flex-direction: var(--flex-direction, row);
  flex-wrap: var(--flex-wrap, wrap);
  gap: var(--flex-gap, var(--gutter, var(--space-m)));
  justify-content: var(--flex-horizontal-alignment, flex-start);
  align-items: var(--flex-vertical-alignment, center);
}

.center {
  --flex-horizontal-alignment: center;
}
.space-apart {
  --flex-horizontal-alignment: space-apart;
}
.space-between {
  --flex-horizontal-alignment: space-between;
}
.space-around {
  --flex-horizontal-alignment: space-around;
}
.justify-end {
  --flex-horizontal-alignment: flex-end;
}
.no-gap {
  --flex-gap: 0;
}
.no-wrap {
    flex-wrap: nowrap;
}

[data-variant-flex="column"] {
  --flex-direction: column;
  --flex-vertical-alignment: flex-start;
}

/* BUTTON STYLES */

.button {

  /* Configuration */
  --button-padding: 0.7em 1.2em;
  --button-gap: 0.5em;
  --button-bg: #342a21;
  --button-color: #ffffff;
  --button-hover-bg: #4b4b4a;
  --button-hover-color: #ffffff;
  --button-border-width: 3px;
  --button-border-style: solid;
  --button-border-color: var(--button-bg);
  --button-radius: 0.5em;

  /* Layout and spacing */
  display: inline-flex;
  align-items: center;
  gap: var(--button-gap);
  padding: var(--button-padding);

  /* Colours */
  background: var(--button-bg);
  color: var(--button-color);

  /* Stroke and radius */
  border-width: var(--button-border-width);
  border-style: var(--button-border-style);
  border-color: var(--button-border-color);
  border-radius: var(--button-radius);

  /* Typography */
  text-decoration: none;
  font-weight: var(--button-font-weight, 700);
  font-size: var(--button-font-size, 1em);
  letter-spacing: 0.05ch;
  font-family: var(--font-family-ui);
  line-height: 1.1;

  /* Interactive */
  cursor: pointer;
}

.button svg {
  height: var(--button-icon-size, 1.2cap);
  width: auto;   
  flex: none;
  aspect-ratio: 1;
}

.button:hover {
  background: var(--button-hover-bg);
  color: var(--button-hover-color);
  fill: var(--button-hover-color);
}

.button:not(.no-focus):focus-visible {
  outline-width: var(--button-outline-width, var(--button-border-width));
  outline-style: var(--button-outline-style, var(--button-border-style));
  outline-color: var(--button-outline-color, var(--button-border-color));
  outline-offset: var(
    --button-outline-offset,
    calc(var(--button-border-width) * 2)
  );
}

.button:active {
  transform: scale(99%);
}

.button[data-button-variant="nav-item"] {
    --button-padding: 0;
    --button-color: white;
    --button-bg: transparent;
    --button-hover-bg: transparent;
}

.button[data-button-variant="round-icon"] {
    --button-padding: 0.25em;
    --button-bg: transparent;
    --button-color: currentColor;
    --button-radius: 50%;
    --button-border-color: currentColor;
}

.button[data-button-variant="round-icon"] svg {
    stroke: currentColor;
    stroke-width: 3px;
}

.button[data-button-variant="no-styles"] {
    --button-border-width: 0;
    --button-padding: 0;
    --button-bg: transparent;
    --button-color: currentColor;
    --button-hover-bg: var(--button-bg);
    --button-hover-color: var(--color-primary);
    --border-radius: 0;
}

.button[data-button-variant="small"] {
    --button-font-size: var(--step--2);
    --button-padding: 0.2em 0.3em;
}

/* Use aria property for current page navigation label */
.like-a-link {
  text-decoration: underline;
  text-decoration-thickness: 0.5ex;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.8ex;
}

.like-a-link {
  color: var(--color-primary);
}


/* DIALOG STYLES */

html:has(dialog[open]) {
  overflow: hidden;
}

dialog[class] {
  inline-size: min(95vw, var(--max-width));
  border-radius: 0.5em;
  padding: 0;
  inset: 0;
  overflow: hidden;
  /* box-shadow: 0 -1px 2px 0 hsl(220 3% 15% / calc(1% + 2%)), 0 3px 2px -2px hsl(220 3% 15% / calc(1% + 3%)), 0 7px 5px -2px hsl(220 3% 15% / calc(1% + 3%)), 0 12px 10px -2px hsl(220 3% 15% / calc(1% + 4%)), 0 22px 18px -2px hsl(220 3% 15% / calc(1% + 5%)), 0 41px 33px -2px hsl(220 3% 15% / calc(1% + 6%)), 0 100px 80px -2px hsl(220 3% 15% / calc(1% + 7%)); */
}

/* dialog[class]::backdrop { */
    /* backdrop-filter: blur(2px); */
/* } */

dialog > form {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: start;
    max-block-size: 80vh;
    max-block-size: 80dvb;
    font-size: 75%;
}

dialog button.close {
    border: none;
    background-color: white;
    padding: 0.5em;
    align-self: start;
}

dialog > form > header, dialog > form > footer {
    padding-block: 1rem;
    padding-inline: 1.5rem;
    background-color: #e9ecef;
}

dialog > form > article {
    overflow-y: auto; 
    max-block-size: 100%; /* safari */
    overscroll-behavior-y: contain;
    padding: 2rem;
}

dialog label {
    font-weight: 650;
    font-stretch: 125%;
}

dialog hr {
  margin: initial;
  height: 0.2rem;
  background-color: var(--color-text);
}

dialog hr+span {
  font-weight:800;
}


/* STYLES FOR OVERLAY COMPONENT */

.overlay {
  display: grid;
  grid-template-area: "overlay";
}
.overlay img {
  --aspect-ratio:1;
  grid-area:overlay;
  place-self:center;
  object-fit:cover;
  inline-size:100%;
  block-size:100%;
  aspect-ratio: var(--aspect-ratio);
}
.overlay div {
  grid-area: overlay;
  place-self: start center;
  font-size:var(--step--2);
}
.overlay button.copied {
  background-color: white;
  color: green;
}

/* STYLES FOR CAROUSEL COMPONENT */

.carousel {
  padding-block-end:1rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 25%;
  gap: 1rem;
  overflow-x: auto;
  scrollbar-color: var(--color-primary) var(--color-primary-lightest);
}

.carousel li {
  padding-block-start:1rem;
}

.carousel li.copied {
  border-block-start: solid 5px green;
}

.carousel img {
  border-radius: 8px;
}


.no-border {
  --border: none;
}


/* STYLES FOR PREFORMATTED CODE BLOCKS */

pre {
  background: rgba(199, 199, 199, 0.3);
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  color: #353535;
  direction: ltr;
  font-style: normal;
  font-size: 60%;
  tab-size: 4;
  text-align: left;
  overflow-x: auto;
}
pre:has(code) {
  position: relative;
}
pre:has(code)::after {
  background: #000;
  color: #fff;
  position: absolute;
  font-size: 75%;
  padding: var(--space-3xs);
  right: 0;
  top: 0;
}
pre:has(.language-html)::after {
  content: "HTML";
}
pre:has(.language-css)::after {
  content: "CSS";
}
pre:has(.language-javascript)::after {
  content: "Javascript";
}
pre:has(.language-plsql)::after {
  content: "PL/SQL";
}
pre:has(.language-sql)::after {
  content: "SQL";
}

/* DEFAULT POINTER CURSOR FOR SUMMARY ELEMENTS */
summary {
    cursor: pointer;
}

/* DROPDOWN STYLES */

/* Replace The disclosure widget
** Ensure icon is clickable on narrow viewports
 */
.dropdown summary {
  --icon-height: var(--space-xs);
  list-style: none;
  display: inline-flex;
  align-items: center;
  min-height: 42px;
  padding-inline-start: calc(42px - var(--icon-height));
}

.dropdown summary svg {
  height: var(--icon-height);
}

.dropdown summary::-webkit-details-marker {
  display: none; 
}

/*
** MENULIST
*/

#menulist .button {
  display: block;
  color: var(--color-text);
  background-color: transparent;
  margin-block: var(--space-3xs);
  padding: 0.5em 1.5em;
  text-align: center;
  border: none;
  inline-size: 100%;
  font-size: var(--step--1);
  min-height: 44px;
}

/* MENULIST POPOVER BUTTON */
button[popovertarget='menulist'] {
    --icon-size: 32;
    --icon-bar-size: 6;
    --icon-translation-size: calc((var(--icon-size) - var(--icon-bar-size)) / 2);
    anchor-name: --menulist-button;
    background-color: transparent;
    border: none;
}

button[popovertarget='menulist']:has(+ *:popover-open) rect {
    transition: all 0.5s ease-in-out;
}

button[popovertarget='menulist']:has(+ *:popover-open) .top,
button[popovertarget='menulist']:has(+ *:popover-open) .bottom {
    transform-origin: center;
}

button[popovertarget='menulist']:has(+ *:popover-open) .top {
    transform: rotate(45deg) translate(0, calc(var(--icon-translation-size) * 1px));
}
button[popovertarget='menulist']:has(+ *:popover-open) .middle {
    opacity: 0;
}
button[popovertarget='menulist']:has(+ *:popover-open) .bottom {
    transform: rotate(-45deg) translate(0, calc(var(--icon-translation-size) * -1px));
}

#menulist {
    position-anchor: --menulist-button;
    /* prevent interference of popover default styles */
    inset:auto;
    /* absolutely position the positioned element */
    position: absolute;
    /* position the right of the positioned element at the right edge of the anchor */
    right: anchor(right);
    /* position the bottom of the positioned element at the top edge of the anchor */
    top: anchor(bottom);
}

#menulist .button:hover, #menulist .button:focus {
  background-color: var(--color-text);
  color: var(--color-background);
}

#menulist button:disabled {
  color: var(--color-primary-lighter);
  background-color: transparent;
  cursor: not-allowed;
}

#menulist {
    max-height: calc(100dvh - 2lh);
    overflow: auto;
}

#menulist li + li {
  border-block-start: solid 1px black;
}

#menulist table {
    font-size: 50%;
}

/* POPOVER AND ANCHOR STYLES */

.settings-popover {
  background: ghostwhite;
  position: relative;
  padding: 1rem;
  max-width:100%;
  box-shadow: 0 0 25px dimgray;
  text-align: initial;
  font-weight: initial;
  inset: auto;
}

.settings-popover::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -0.9rem;
  width: 0; 
  height: 0; 
  /* border-left: 10px solid transparent; */
  /* border-right: 10px solid transparent; */
  /* border-top: 16px solid ghostwhite; */
} 

[popover] {
  overflow: unset;
  bottom: calc(anchor(top) + 1rem);
  left: anchor(left);
  position-try-fallbacks: flip-block;
}

:popover-open {
  max-width:50ch;
}

/* TABLE STYLES, E.G. WEBSITE ANALYTICS */

sup {
    position: relative;
    vertical-align: baseline;
    font-size: 0.7em;
    top: -0.5em;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--step--1);
}
caption {
  padding: 0.5em;
}
thead {
  background-color: rebeccapurple;;
  color: white;
  font-weight: 600;
}
th, td {
  border: 1px solid var(--color-text);
  padding: var(--space-3xs);
}
td > button {
    margin-inline-start: 0.25em;
}
td.centered {
  text-align: center;
  font-weight: 900;
}
.cwv {
    --button-padding: 0.15em 0.5em;
    border: none;
}
.cwv:hover {
    font-weight: 850;
}
.good {
  background-color: chartreuse;
  color: black;
}
.improve, .needs-improvement {
  background-color: orange;
  color: black;
}
.poor {
  background: red;
  color: white;
}

/* DEPLOYMENT STATUS */
ol.deploy {
    color: white;
    background-color: #342a21;
    font-family: monospace;
    font-size: var(--step--1);
    padding: 1em;
    margin-inline-end: 1em;
}

ol.deploy span + span {
    margin-inline-start: 1em;
}



/* Override MEDIA button styles in CKEDITOR toolbar */ 
.show-media {
    background-color: var(--color-primary-light) !important;
    color: white !important;
    margin-inline-start: calc (var(--ck-spacing-unit) * 4)) !important;
    cursor: pointer !important;
}

.deploy-website {
    background-color: rebeccapurple !important;
    color: white !important;
    cursor: pointer !important;
    margin-inline-end: 1em !important;
    padding: 0.2em 0.3em !important;
}

/*
** MEDIA THUMBNAILS PAGE
*/

.gallery-list {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  display: grid;
  gap: var(--space-2xs);
  grid-template-columns: repeat(auto-fill, minmax(min(var(--space-3xl), 100%), 1fr));
}
.gallery-list li {
    border: 1px solid #ddd;
    padding: var(--space-3xs);
    display: grid;
    grid-template-areas: "overlay";
}
.gallery-list li:hover {
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.gallery-list img, .gallery-list video, .gallery-list audio {
    inline-size: 100%;
}

.gallery-list  .landscape {
    grid-column: span 2;
}

/*
** GALLERY FULLSCREEN STYLES
*/
.gallery-overlay {
    display: none;
    grid-template-areas: "overlay";
}
.gallery-overlay  img {
    grid-area: overlay;
    place-self: center;
    inline-size: 100vw;
    block-size: 100vh;
    object-fit: contain;
}
.gallery-overlay :not(img) {
    color: white;
    font-size: var(--step-3);
    grid-area: overlay;
}
.gallery-overlay  span {
    place-self: start start;
    font-size: var(--step-0);
}
.gallery-overlay  button {
    background-color: transparent;
    outline: 0;
    border: 0;
    padding: var(--space-s);
    cursor: pointer;
}
.gallery-overlay  .close-fullscreen {
    place-self: start end;
}
.gallery-overlay  .prev {
    place-self: center start;
}
.gallery-overlay  .next {
    place-self: center end;
}


/* SPINNER ELEMENT WHILE WAITING FOR WEBSITE TO BE DEPLOYED */

.loader {
  width: 10rem;
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 22deg, #0003,#000);
          mask: conic-gradient(from 22deg, #0003,#000);
  animation: load 1s steps(8) infinite;
}

.loader,
.loader:before {
  --_g: linear-gradient(#17177c 0 0) 50%;
  background: 
    var(--_g)/34% 8%  space no-repeat,
    var(--_g)/8%  34% no-repeat space;
}

.loader:before {
  content: "";
  transform: rotate(45deg);
}

@keyframes load {
  from {transform: rotate(0turn)}
  to   {transform: rotate(1turn)}
}

/* CKEDITOR STYLES */
#editor-status {
    color: green;
}

.ck-word-count {
    display: flex;
    gap: 1em;
    font-size: var(--step--2);
}

/* SELECT ELEMENT */
select,
::picker(select) {
    appearance: base-select;
}


/* EDITOR STYLES */

/* COMMON EDITOR STYLES */
.edit-header, .edit-footer {
    font-size: var(--step--2);
}
.edit-header legend, .edit-footer legend {
    font-stretch: 125%;
    font-weight: 600;
}
.edit-header label, .edit-footer label {
    font-weight:500;
}
.edit-header label > *, .edit-footer label > * {
    margin-inline-start: 0.5em;
    font: inherit;
}

/* EDIT HEADER STYLES */
.edit-header:has(*) {
    display: grid;
    grid-template-areas:
        "background title"
        "buttons subtitle";
    grid-template-columns: max-content 1fr;
    gap: 1em;
    padding: 0.5em;
}

@media (width <= 600px) {
    .edit-header {
        grid-template-areas: 
            "background"
            "buttons"
            "title"
            "subtitle";
        grid-template-columns: 1fr;
    }
}

.edit-header > fieldset {
    inline-size: fit-content;
}
.edit-header > fieldset.background-color {
    grid-area: background;
    align-self: start;
    justify-self: center;
}
.edit-header > fieldset.title-font {
    grid-area: title;
}
.edit-header > fieldset.subtitle-font {
    grid-area: subtitle;
}
.edit-header > div.buttons {
    grid-area: buttons;
}
.edit-header > svg {
    display: none;
}


/* EDIT FOOTER STYLES */
edit-footer, edit-footer>div {
    margin: 3vh;
}

.icon-with-text:has(span:empty) {
    display: none;
}


/* ALERT STYLES - CHANGE SAVE BUTTON TEXT AND BACKGROUND COLOR WHEN CLICKED */

ul[class] {
  list-style:none;
}

li:has([role='alert']) {
  position: relative;
}

[role='alert'] {
  position: absolute;
  inset:0;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

[role='alert']:empty {
  display: none;
}

/* EYEDROPPER STYLE - SAD EFFORT TO EMULATE INPUT COLOR TYPE*/

.eyedropper {
  width: 50px;
  block-size: 27px;
  background-color: rebeccapurple;
  border-width:5px;
  border-color:pink;
}

.eyedropper:hover {
  border-color:red;
}