:root {
  --color-dark: #404040;
  --color-light: #f3f3f3;
  --color-light-glare: #fff;
  --color-light-grey: #6e6e6e;
  --color-primary: #0042bf;
  --color-primary-glare: #d8e2f4;
  --color-secondary: #ee5141;
  --color-secondary-glare: #ffe3e5;

 
  /* Property values used to calculate clamp */
  --created:  21/3/2023, 8:41;
  --rootFontSize:  16;
  --minFontSize:  1;
  --minWidthPx:  360;
  --minScale:  1.2;
  --maxFontSize:  1.5;
  --maxWidthPx:  1600;
  --maxScale:  1.2;
  
  /* Custom properties for fluid type */
  --step--2:  clamp(0.69rem,0.59rem + 0.45vw,1.04rem);
  --step--1:  clamp(0.83rem,0.71rem + 0.54vw,1.25rem);
  --step-0:  clamp(1rem,0.85rem + 0.65vw,1.5rem);
  --step-1:  clamp(1.2rem,1.03rem + 0.77vw,1.8rem);
  --step-2:  clamp(1.44rem,1.23rem + 0.93vw,2.16rem);
  --step-3:  clamp(1.73rem,1.48rem + 1.11vw,2.59rem);
  --step-4:  clamp(2.07rem,1.77rem + 1.34vw,3.11rem);
  --step-5:  clamp(2.49rem,2.13rem + 1.61vw,3.73rem);
  
  /* Custom properties for fluid spacing */
  --space-3xs:  clamp(0.25rem,0.21rem + 0.16vw,0.38rem);
  --space-2xs:  clamp(0.5rem,0.43rem + 0.32vw,0.75rem);
  --space-xs:  clamp(0.75rem,0.64rem + 0.48vw,1.13rem);
  --space-s:  clamp(1rem,0.85rem + 0.65vw,1.5rem);
  --space-m:  clamp(1.5rem,1.28rem + 0.97vw,2.25rem);
  --space-l:  clamp(2rem,1.71rem + 1.29vw,3rem);
  --space-xl:  clamp(3rem,2.56rem + 1.94vw,4.5rem);
  --space-2xl:  clamp(4rem,3.42rem + 2.58vw,6rem);
  --space-3xl:  clamp(6rem,5.13rem + 3.87vw,9rem);

  --font-base: Inter, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  --font-serif: Roboto Serif, serif;

    --hue: 270;
    --saturation: 50%;
    --lightness: 45%;
    --color-pale: hsl(var(--hue) var(--saturation) calc(var(--lightness) + 43%));
    --color-pale-hover: hsl(var(--hue) var(--saturation) calc(var(--lightness) + 50%));
    --color-solid: hsl(var(--hue) var(--saturation) var(--lightness));

    --card-width: 25ch;
    --gallery-width: 15rem;
    --preview-width: 60ch;

}

*, *::before, *::after {
    box-sizing: border-box;
}

/*******************/
/* CKEDITOR STYLES */
/*******************/
.ck-content {
    padding-inline: var(--space-m);
    font-family: var(--font-serif);
}

.ck-content div.auto-fit-sections {
    inline-size: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(35ch, 1fr));
    gap: 5ch;
}

.ck-content .auto-fill-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(15rem,100%), 1fr));
    gap: var(--space-m);
}

.ck-content section {
    border: 1px solid red;
}

.ck-word-count {
    font-size: var(--step--2);
    display: flex;
    column-gap: 1rem;
    margin: 0.5rem 0;
}

.ck-content pre {
    font-size: 70%;
}

.ck-content .round-border {
    border-radius: 50%;
}

.ck-content .grid-auto-fit {
    display: grid;
    grid-template-columns: repeat(var(--grid-placement,auto-fit), minmax(min(var(--grid-min-item-size,16rem),100%), 1fr));
    grid-gap: var(--space-m);
}

.ck-content .align-left {
    text-align: left;
}

.ck-content .align-right {
    text-align: right;
}

.ck-content .align-center {
    text-align: center;
}

.ck-content .align-justify {
    text-align: justify;
}

.ck-editor__editable > .ck-placeholder::before {
    color: var(--color-solid);
    font-family: monospace;
}

/******************/
/* PAGE CONTAINER */
/******************/

body {
    margin: var(--space-2xs) var(--space-2xs) 0;
}

body {
    font-family: var(--font-serif);
    font-size: var(--step-0);
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
}

body:has(dialog[open]) {
    overflow: hidden;
}

/************************************/
/* STYLE APPLICABLE TO ALL ELEMENTS */
/************************************/
img {
    max-inline-size: 100%;
    display: block;
}

textarea, button, input, select {
    font: inherit;.
}

input, textarea, select {
    inline-size: 100%;
    line-height: 2;
    color: var(--color-solid);
    font-weight: 600;
}

select {
    inline-size: min(30ch,100%);
    padding: 0.5em 0;
}

details > summary {
    cursor: pointer;
    font-weight: 600;
    margin-block-end: 1em;
}

details > button {
    margin-block-start: 1em;
    display: block;
}

dialog .content {
    min-inline-size: 60ch;
}

[popover] {
    max-inline-size: 30ch;
    white-space: wrap;
    background-color: aliceblue;
    padding: 0.5em;
    margin-block-start: 0.1em;
    border: 1px solid var(--color-solid);
}

@supports(anchor-name: --foo) {
    [popover] {
        inset: unset;
        top: anchor(bottom);
        left: anchor(center);
        translate: -50%;
    }
}

/***********************/
/* APPLICATION STYLES  */
/***********************/
.top-nav {
    display: flex;
    justify-content: flex-end;
}

.website-nav {
    padding: var(--space-l);
}
.page-nav {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-m);
    padding: var(--space-m);
}

button > svg {
    inline-size: 1em;
    block-size: 1em;
    pointer-events: none;
}

.auto-fit-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: var(--space-l);
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.align-self-center {
    align-self: center;
}

a:not(.selected) {
    text-decoration: none;
}

a.selected {
    text-decoration-color: var(--color-secondary);
    text-decoration-thickness: var(--space-3xs);
    text-underline-offset: var(--space-3xs);
    text-decoration-skip-ink: none;
}

.website-nav {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
    align-items: center;
    justify-content: space-between;
    font-weight: 900;
    & .dropdown .dropdown-items {
        right: auto;
        left: 1em;
    }
    & button.action {
        font-size: 80%;
        border-radius: var(--space-3xs);
        padding: var(--space-3xs) var(--space-2xs);
        color: white;
        background-color: var(--color-solid);
    }
}

span.env {
    display: inline-block;
    border-radius: var(--space-3xs);
    margin-left: var(--space-s);
    font-family: monospace;
    background-color: #ddd;
    color: black;
    padding: var(--space-3xs) var(--space-2xs);
    letter-spacing: 2px;
}

nav [class$="options"]:has(+ a.selected) {
    opacity:1;
    visibility: visible;
}

nav [class$="options"]:not(:has(+ a.selected)) {
    opacity:0;
    visibility: hidden;
}


nav a.selected + * {
    display: inline-block;
    cursor: pointer;
}

/*
nav a:not(.selected) ~ button {
    display: none;
}
*/

label {
    font-weight: 600;
    display: block;
    white-space: nowrap;
}

textarea {
    border: 0.1em solid var(--color-pale);
    border-radius: 0.2em;
    resize: both;
    line-height: 2;
}

.demo-container {
    container-type: inline-size;
    resize: horizontal;
    overflow: auto;
    border: 1px solid black;
    font-family: var(--font-family);
    text-align: center;
    min-width: 360px;
    position: relative;

    & > header > span {
        background-color: black;
        color: white;
        padding-inline: 0.25em;
        font-size: var(--step--1);
        position: absolute;
    }

    & > nav > div {
        background-color: var(--background-primary);
        color: var(--color);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1em;
        padding-block: 2em 1.5em;
        & > a {
            font-size: var(--step-0);
            letter-spacing: 0.10em;
            color: var(--background);
            font-weight: 700;
            padding: 0.20em 0.4em;
            border-radius: 0.2em;
        }
        & > a:hover {
            background-color: var(--background);
            color: var(--background-primary);
        }
    }

    & > svg {
        fill: var(--background-primary);
        transform: translateY(-2px);
    }

    :is(h1) {
    @container (width >= 0) {
        line-height: 1.1;
        font-size: var(--step-3);
        }
    }
    :is(h2) {
    @container (width >= 0) {
        line-height: 1.1;
        font-size: var(--step-2);
        text-decoration: none;
        }
    }
    :is(h3) {
    @container (width >= 0) {
        line-height: 1.1;
        font-size: var(--step-1);
        }
    }
    :is(p) {
    @container (width >= 0) {
      line-height: 1.1;
      font-size: var(--step-0);
    }
  }
}

.demo-container:after {
    content:"Resize Me \2192";
    position: absolute;
    bottom: 0;
    right: 1rem;
    color: white;
    background: #000;
    padding-inline: 0.25em;
    font-size: var(--step--1);
}

button {
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    white-space: nowrap;
}

/* UPDATE RESULT SHOWN IN SPAN BENEATH INPUT ELEMENT */
.result {
    padding-left: 0.5ch;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

hr {
    inline-size: 100%;
}

/* ******** */
/*  FORMS   */
/* ******** */

form {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    padding: var(--space-s);
    & .input-wrapper, .textarea-wrapper {
        position: relative;
        display: inline-block;
    }
    & .radio-options {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1em;
    }
    & label {
        margin-block-end: var(--space-3xs);
    }
    & label > button {
        margin-inline-start: var(--space-2xs);
    }
    & button > svg {
        inline-size: 0.5em;
        block-size: 0.5em;
        fill: white;
    }
    & button {
        appearance: none;
        border: none;
        padding: 0;
        cursor: pointer;
        transition: 0.5s all linear;
    }
    & button.clear-input {
        position: absolute;
        right: 0.25em;
        top: 1.9em;
        opacity: 0;
    }
    & .clear-input--touched:focus + .clear-input,
      .clear-input--touched:hover + .clear-input,
      .clear-input--touched + .clear-input:hover {
        /*display: inline-flex;*/
        opacity: 1;
    }
    & button:hover {
        font-weight: 900;
    }
    & fieldset {
        display: inline-flex;
        flex-direction: column;
        gap: var(--space-m);
        padding: var(--space-s);
        border-radius: 0.5rem;
    }
    & legend > button {
        margin-inline-start: 0.5ch;
    }
    & .cards-50-50 {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 1em;
    }
    & .charcounter {
        font-size: var(--step--1);
    }
}

input[type="text"] + span {
    font-size: 70%;
    margin-inline-start: 1ch;
}

input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    inline-size: 2ch;
    block-size: 2ch;
    border: 1ch solid var(--color-pale);
    vertical-align: text-bottom;
    transition: 0.2s all linear;
}

input[type="radio"]:checked {
    border: 1ch solid var(--color-solid);
}

legend {
    font-weight: 600;
}

.delete-website {
    background-color: var(--color-secondary);
    color: var(--color-light-glare);
}

/* ************* */
/* DIALOG STYLES */
/* ************* */

ol.deploy {
    font-family: monospace;
    & li {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
    & li.nok {
        color: red;
    }
    & li.ready {
        line-height: 2.5;
    }
}

dialog:,
::backdrop{
  opacity: 0;
  transition: opacity 1s, display 1s allow-discrete, overlay 1s allow-discrete;
  overscroll-behavior-y: contain;
  border: 1px solid lightgray;
  border-radius: 1rem;
  padding: 1rem;
}

[open],
[open]::backdrop {
  opacity: 1;
}

@starting-style {
  [open],
  [open]::backdrop {
    opacity: 0;
  }
}

dialog:not(.gallery)::backdrop {
  background-color: rgba(0,0,0,.6);
}

dialog.popup > div {
    display: grid;
    place-items: center;
}

dialog.popup {
    color: var(--color-secondary);
    text-align: center;
    min-inline-size: 50vw;
}

dialog.preview {
    color: currentColor;
    max-inline-size: 100vw;
    max-block-size: 100dvh;
    inline-size: 100vw;
    block-size: 100dvh;
}

dialog.preview > div {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, var(--preview-width)) minmax(1rem, 1fr);
}

dialog.preview .details {
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 90%;
    line-height: 3;
    color: mediumslateblue;
}

dialog.preview h2:first-of-type {
    line-height: 1.2;
    text-decoration: slateblue solid underline;
    text-underline-position: under;
    text-align: center;
}

dialog h2 {
    line-height: 1.2;
    text-decoration: slateblue solid underline;
    text-underline-position: under;
    text-underline-offset: 0.2ex;
    text-align: center;
}

dialog a {
    outline: none;
    text-decoration: underline;
    text-underline-position: under;
}

dialog a:hover {
    text-decoration: none;
    background: var(--color-pale);
}

dialog button.close {
    place-self: start end;
    background-color: transparent;
    font-size: 200%;
    padding: 0;
    outline: 0;
    position: sticky;
    top: 0;
}

dialog.log {
    & > div:first-of-type {
        display: grid;
        grid-template-columns: 1fr 2rem;
    }
    .cwv {
        display: grid;
        row-gap: 0.5ch;
        & span[class] {
            display: inline-block;
            padding: 1ch;
            text-align: center;
        }
    }
    .score {
        text-align: center;
        font-weight: 600;
    }
    & table {
        width: 100%;
        border-collapse: collapse;
        font-size: var(--step--1);
    }
    & caption {
        padding: 0.5em;
    }
    & thead {
        background: var(--color-pale);
        font-weight: 600;
    }
    & th, td {
        border: 1px solid var(--color-solid);
        padding: var(--space-3xs);
    }
    td.centered {
        text-align: center;
        font-weight: 900;
        & span {
            display; inline-block;
            padding: 0.5ch;
            border-radius: 0.5ch;
        }
    }
    .good {
        background: chartreuse;
    }
    .needs-improvement {
        background: orange;
    }
    .poor {
        background: red;
        color: white;
    }
    figure {
        display: flex;
        gap: 1em;
        & img {
            max-width: 8em;
            height: auto;
            align-self: start;
        }
        & figcaption {
            display: flex;
            flex-direction: column;
            gap: 1em;
            border-inline-start: solid 1px black;
            padding-inline-start: 1em;
        }
        & button {
            align-self: start;
        }
    }
}

/* *************** */
/* DROPDOWN STYLES */
/* *************** */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-items {
    transition: 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    font-size: 85%;
    position: absolute;
    right: 1rem;
    background-color: white;
    margin: 0;
    padding:0;
    list-style-type: none;
    border-radius: 1ch;
    z-index: 1;
    & a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
    }
}

.dropdown .dropdown-items.visible {
    visibility: visible;
    opacity: 1;
    padding: 1ch;
    border: var(--color-solid) solid 1px;
    z-index: 999;
}

.dropdown-items button, .dropdown-items a {
    cursor: pointer;
    inline-size: 100%;
}

.dropdown-items li:hover {
    background-color: var(--color-pale-hover);
    border-radius: 0.5ch;
}

.icon {
    width: 1rem;
    height: 1rem;
    background-color: var(--color-pale);
}

.dropdown .icon {
    box-sizing: content-box;
    border-radius: 50%;
    padding: 0.5rem;
}

.dropdown .separator {
    border-top: solid 1px var(--color-solid);
}

.with-icon {
  display: inline-flex;
  align-items: center;
  padding: 1ch;
}

.with-icon .icon {
  margin-inline-end: 1rem;
}

a > img,
button svg,
button use,
button span {
  pointer-events: none;
}


/* *********** */
/* CARD STYLES */
/* *********** */

nav button {
    background-color: transparent;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container:has(.dropdown) {
    margin-bottom: 0.5ch;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2ch;
}

.page-content > div{
    padding: var(--space-2xs) var(--space-2xs) 0;
}

.page-content > div:nth-of-type(1) {
    border: solid 1px var(--color-solid);
    flex-basis: 50ch;
    flex-grow: 1;
    overflow-y: scroll;
}

.page-content > div:nth-of-type(2) {
    border: solid 1px var(--color-solid);
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
    margin-inline-end: 1rem;
    overflow-y: scroll;
}

.fade-out {
  animation: fade-out 1s forwards;
}

@keyframes fade-out {
  100% {
    opacity: 0;
    display: none;
  }
}

/* ************* */
/* DRAG AND DROP */
/* ************* */
.drag-in-progress {
    opacity: 0.4;
}

/* *************** */
/* GALLERY STYLES  */
/* *************** */
.gallery-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(min(10cqi, 100%), 1fr));
    & li {
        border: 1px solid #ddd;
        padding: var(--space-3xs);
        display: grid;
        grid-template-areas: "overlay";
    }
    & img, & video, & audio {
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
        place-self: center;
        grid-area: overlay;
    }
    & button {
        outline: none;
        background-color: white;
        color: black;
        grid-area: overlay;
        place-self: start start;
    }
    & .landscape {
        grid-column: span 2;
    }
}

/* ************************** */
/* GALLERY FULLSCREEN STYLES  */
/* ************************** */
.gallery-overlay {
    display: none;
    grid-template-areas: "overlay";
}

.gallery-overlay > img {
    grid-area: overlay;
    place-self: center;
    inline-size: 100vw;
    block-size: 100vh;
    object-fit: contain;
}

.gallery-overlay > span.counter {
    grid-area: overlay;
    place-self: start start;
    color: var(--color-light);
    font-size: 80%;
}

.gallery-overlay > button {
    grid-area: overlay;
    background-color: transparent;
    color: var(--color-light);
    font-size: var(--step-2);
    outline: 0;
}

.gallery-overlay > button.close-fullscreen {
    place-self: start end;
}

.gallery-overlay > button.prev {
    place-self: center start;
}

.gallery-overlay > button.next {
    place-self: center end;
}


/* ***************************************************************************************** */
/* PUSHABLE BUTTON  - NO NESTED CSS HERE BECAUSE WE USE SAME COMPONENT IN GENERATED WEBSITES */
/* ***************************************************************************************** */
.pushable {
    --border-radius: var(--space-2xs);
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius); /*12px;*/
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius); /*12px;*/
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  .front {
    display: block;
    position: relative;
    padding: var(--space-2xs) var(--space-xs); /*12px 42px;*/
    border-radius: var(--border-radius); /*12px;*/
    color: white;
    font-weight: 600;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .pushable:hover {
    filter: brightness(110%);
  }
  .pushable:hover .front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }