:root {
  --color-dark: #404040;
  --color-light: #f3f3f3;
  --color-light-glare: #fff;
  --color-light-grey: #6e6e6e;
  --color-primary: #0042bf;
  --color-primary-glare: #d8e2f4;
  --color-secondary: #ee5141;
  --color-secondary-glare: #ffe3e5;

 
  /* Property values used to calculate clamp */
  --created:  21/3/2023, 8:41
  --rootFontSize:  16;
  --minFontSize:  1;
  --minWidthPx:  360;
  --minScale:  1.2;
  --maxFontSize:  1.5;
  --maxWidthPx:  1600;
  --maxScale:  1.2;
  
  /* Custom properties for fluid type */
  --step--2:  clamp(0.69rem,0.59rem + 0.45vw,1.04rem);
  --step--1:  clamp(0.83rem,0.71rem + 0.54vw,1.25rem);
  --step-0:  clamp(1rem,0.85rem + 0.65vw,1.5rem);
  --step-1:  clamp(1.2rem,1.03rem + 0.77vw,1.8rem);
  --step-2:  clamp(1.44rem,1.23rem + 0.93vw,2.16rem);
  --step-3:  clamp(1.73rem,1.48rem + 1.11vw,2.59rem);
  --step-4:  clamp(2.07rem,1.77rem + 1.34vw,3.11rem);
  --step-5:  clamp(2.49rem,2.13rem + 1.61vw,3.73rem);
  
  /* Custom properties for fluid spacing */
  --space-3xs:  clamp(0.25rem,0.21rem + 0.16vw,0.38rem);
  --space-2xs:  clamp(0.5rem,0.43rem + 0.32vw,0.75rem);
  --space-xs:  clamp(0.75rem,0.64rem + 0.48vw,1.13rem);
  --space-s:  clamp(1rem,0.85rem + 0.65vw,1.5rem);
  --space-m:  clamp(1.5rem,1.28rem + 0.97vw,2.25rem);
  --space-l:  clamp(2rem,1.71rem + 1.29vw,3rem);
  --space-xl:  clamp(3rem,2.56rem + 1.94vw,4.5rem);
  --space-2xl:  clamp(4rem,3.42rem + 2.58vw,6rem);
  --space-3xl:  clamp(6rem,5.13rem + 3.87vw,9rem);

  --font-base: Inter, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  --font-serif: Georgia, sans-serif;
  --gutter: var(--space-s-m);
  --border-radius: var(--step--2);
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --tracking: -0.05ch;
  --tracking-s: -0.075ch;

    --hue: 270;
    --saturation: 50%;
    --lightness: 45%;
    --color-button: hsl(var(--hue) var(--saturation) var(--lightness));
    --color-button-hover: hsl(var(--hue) var(--saturation) calc(var(--lightness) - 7%));
    --color-button-focus: hsl(var(--hue) var(--saturation) calc(var(--lightness) - 10%));
    --color-button-text: #FFF;
    --color-pale: hsl(var(--hue) var(--saturation) calc(var(--lightness) + 35%));

    --gallery-width: 10rem;
    --blur: blur(5px);
}

body {
    font-family: var(--font-serif);
    font-size: var(--step-0);
    letter-spacing: var(--tracking);
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

.fa {
    font-size: inherit; /* override Apex css default "16px" */
    vertical-align: baseline; /* override Apex css default "top"" */
}

.fa-check {
    color: green;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-dark);
  color: var(--color-light-glare);
  padding: var(--space-xs);
  margin-block-end: var(--space-s);
}

label {
    font-weight: 500;
    margin-bottom: calc(var(--space-s) * -1);
}

textarea {
    padding: 0.25em 0.5em;
    height: var(--space-m);
    line-height: 1.1;
    border: 2px solid var(--color-pale);
    border-radius: 4px;
    transition: 180ms box-shadow ease-in-out;
    resize: vertical;
}

textarea + span {
  margin-top: calc(var(--space-s) * -1);
  font-size: 70%;
  font-style: italic;
  place-self: end end;
}

fieldset {
  border: 1px solid var(--color-pale);
  padding: 0.25em;
}

fieldset button {
  font-weight: 500;
}

legend {
  font-weight: 500;
}


dialog {
    border: none !important;
    border-radius: 0.7em;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

dialog > div {
    display: grid;
    gap: 2em;
    place-items: center;
}

dialog.popup {
    color: var(--color-secondary);
    text-align: center;
}

dialog h2 {
    line-height: 1.2;
}

dialog p {
    line-height: 1.5;
}

dialog button.close {
    place-self: start end;
    border-radius: 50%;
}

button {
    min-height: 54px;
    min-width: 54px;
    border: none;
    padding-block-start: 0;
    padding-block-end: 0;
    background-color: var(--color-button);
    color: var(--color-button-text);
    font-size: var(--step-0);
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

#main nav button:hover {
    text-decoration: overline;
}

nav button {
    background-color: transparent;
    font-size: 1.5em;
}


.button-container {
  display: flex;
  justify-content: space-between;
}

[region-id="main"] {
    font-size: var(--step-0);
}

[region-id="main"] h2, [region-id="main"] p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: var(--step-0);
}

.cards {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(25ch, 100%), 1fr)
  );
  gap: 5ch;
}

.card:first-child {
    display: none;
}

.card {
  border: 0.1em solid;
  border-radius: 0.5em;
  padding: 0.5em;
  display: grid;
  grid-template-rows: max-content max-content max-content 1fr;
  gap: 0.75em;
}

.card button:not(.fa-caret-down) {
    display: inline-flex;
    gap: 1em;
    justify-content: space-between;
}

.card img {
  object-fit: scale-down;
  inline-size: 100%;
  aspect-ratio: 4/3;
  margin: auto;
}

.card button.fa, nav button.fa {
  padding: 0.25em 0.4em;
  font-size: 1.6em;
}

.card button:not(.fa) {
    display: inline-block;
    inline-size: 100%;
    aspect-ratio: 4/3;
    font-family: inherit;
    font-size: var(--step-0);
    border-radius: 0.7em;
}

.card button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.card .dropdown {
  position: relative;
}

.card .dropdown .dropdown-items {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    color: var(--color-button);
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-left: var(--color-button) solid 1px;
    border-radius: 1em;
}

.card .dropdown:hover .dropdown-items {
  display: block;
}

.card .dropdown-items button {
  background-color: var(--color-background-pale);
  color: var(--color-button);
  width: 100%;
  border-bottom: solid 1px var(--color-button);
}

.card .dropdown-items button:hover {
  background-color: var(--color-background-pale);
}

.card h4 {
    font-size: var(--step-1);
}

.card .title, .card .excerpt {
    line-height: 1.1;
    overflow-wrap: break-word;
    hyphens: auto;
    margin-block-start: 0;
    margin-block-end: 0;
    place-self: center;
}

.card:hover .title {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    color: var(--color-button);
    cursor: pointer;
}

.card .excerpt {
    line-height: 1.4;
}

.card .excerpt > span {
    margin-left: 0.5em;
    font-style: italic;
    font-size: 75%;
}

.card footer {
  place-self: start;
  font-style: italic;
  font-size: calc(var(--step--2)*.80);
}

.card button:hover, .card button:active {
  background-color: var(--color-button-hover);
}

.card button:focus {
  background-color: var(--color-button-hover);
  outline-color: transparent;
  box-shadow: 0 0 0 4px var(--color-button-focus);
}

/* Override CKEditor styles */
.ck-content > * + * {
    margin-top: var(--space-s);
}

.ck-content h2 {
    font-size: var(--step-1);
}

.ck-content h3 {
    font-size: var(--step-0);
}

.ck-content h4 {
    font-size: var(--step--1);
}

.ck-content p,
.ck-content li {
    font-size: var(--step--1);
    line-height: 1.4;
}

/* *************** */
/* GALLERY STYLES  */
/* *************** */
.gallery-container {
  max-inline-size: 100%;
  margin-inline: auto;
  padding: var(--space-s) var(--space-m);
}

.gallery {
  list-style: none;
  display: grid;
  grid-gap: var(--space-3xs);
  grid-template-columns: repeat(auto-fill, minmax(var(--gallery-width), 1fr));
}

.gallery > li:not(.deleted) {
  cursor: pointer;
}

.drag-in-progress {
    opacity: 0.4;
}

.deleted {
  cursor: none;
  filter: var(--blur);
}

.gallery img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.gallery .landscape {
  grid-column: span 2;
}

/* **************** */
/* LIGHTBOX STYLES  */
/* **************** */
.lightbox {
    font-size: var(--step--1);
}

.lightbox > div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.lightbox > div > * {
    flex: max(340px,100%/2 - 1rem);
}

.lightbox img,
.lightbox video {
  object-fit: contain;
  margin: auto;
  max-inline-size: 100%;
}

.lightbox audio {
    margin: auto;
    margin-top: 1em;
}

.deleted + span {
    margin: auto;
    color: green;
}

.lightbox .form {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.lightbox .form > :last-child {
    visibility: hidden;
    place-self: end;
}

.lightbox footer {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--step--2);
    border-top: solid 1px var(--color-pale);
    padding: 0.5em;
}

.lightbox footer  span:nth-child(odd) {
    padding-inline-start: 0.5em;
    padding-inline-end: 0.5em;
    font-weight: 600;
}

.lightbox footer  span:nth-child(even):not(:last-child) {
    padding-inline-end: 0.5em;
    border-right: 2px solid var(--color-secondary);
}

.lightbox-performance li + li {
    border-top: 1px solid var(--color-pale);
    margin-top: 0.75em;
}

.lightbox-performance li {
    font-size: inherit;
    line-height: 1.25;
}