/* *************** */
/* HOMEPAGE STYLES */
/* *************** */

:root {
    --step-0:  clamp(1rem,0.85rem + 0.65vw,1.5rem);
    --min-btn-size: 44px;
}

body {
    font-size: var(--step-0);
    font-family: monospace;
    display: grid;
    place-items: center;
    margin: 0;
}

ul {
    block-size: 100dvh;
    max-inline-size:100vw;
    padding: 0;
    margin: 0;
}

svg {
    max-height: 50%;
}

ul.login {
    aspect-ratio: 1/1;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
}


ul.login>li:nth-of-type(1) {
  grid-column: span 9;
  grid-row: span 8;
  border-right: 0.5ch solid black;
  border-bottom: 0.75ch solid black;
}

ul.login>li:nth-of-type(2) {
    grid-column: span 11;
    grid-row: span 8;
    border-bottom: 0.75ch solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1ch 1ch 1ch 0;
}

ul.login>li:nth-of-type(2) a + a {
    margin-left: 1ch;
}

ul.login>li:nth-of-type(2) svg {
    inline-size: var(--min-btn-size);
}

ul.login>li:nth-of-type(2) span:first-of-type {
    margin-bottom: 0.5ch;
}

ul.login>li:nth-of-type(2) span:last-of-type {
    font-size: 70%;
    margin-top: auto;
}

ul.login>li:nth-of-type(2) span:last-of-type:hover {
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer;
}

ul.login>li:nth-of-type(3) {
    grid-column: span 9;
    grid-row: span 5;
    border-right: 0.5ch solid black;
    border-bottom: 0.75ch solid black;
}

ul.login>li:nth-of-type(4) {
    grid-column: span 11;
    grid-row: span 5;
    border-bottom: 0.75ch solid black;
}

ul.login>li:nth-of-type(3), ul>li:nth-of-type(4) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1ch;
    padding: 1ch;
}

ul.login>li:nth-of-type(5) {
    grid-column: span 2;
    grid-row: span 7;
    border-right: 0.5ch solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: 900;
    font-family: monospace;
}

ul.login>li:nth-of-type(6) {
    grid-column: span 7;
    grid-row: span 7;
    border-right: 0.5ch solid black;
}

ul.login>li:nth-of-type(7) {
  grid-column: span 6;
  grid-row: span 6;
  border-right: 0.5ch solid black;
}

ul.login>li:nth-of-type(8) {
    grid-column: span 5;
    grid-row: span 7;
    display:flex;
    justify-content: flex-end;
}

ul.login>li:nth-of-type(8)>button {
    min-inline-size: var(--min-btn-size);
    background-color: transparent;
    border: none;
    align-self: flex-end;
    cursor: pointer;
}

ul.login>li:nth-of-type(9) {
    grid-column: span 6;
    grid-row: span 1;
    border-right: 0.5ch solid black;
}

.red { 
    background-color: #ca5020;
}

.grey { 
    background-color: #e8e8e8;
}

.yellow { 
    background-color: #ffed91;
}

.blue { 
    background-color: #044281;
}

dialog > div {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 60ch) minmax(1rem, 1fr);
}

dialog button.close {
    place-self: start end;
    min-inline-size: var(--min-btn-size);
    min-block-size: var(--min-btn-size);
    background-color: transparent;
    color: currentColor;
    border: none;
    font-size: 200%;
    margin-inline-start: 2ch;
    cursor: pointer;
    position:sticky;
    top: 0;
}