:root {
  --color-dark: #404040;
  --color-light: #f3f3f3;
  --color-light-glare: #fff;
  --color-light-grey: #6e6e6e;
  --color-primary: #0042bf;
  --color-primary-glare: #d8e2f4;
  --color-secondary: #ee5141;
  --color-secondary-glare: #ffe3e5;

 
  /* Property values used to calculate clamp */
  --created:  21/3/2023, 8:41;
  --rootFontSize:  16;
  --minFontSize:  1;
  --minWidthPx:  360;
  --minScale:  1.2;
  --maxFontSize:  1.5;
  --maxWidthPx:  1600;
  --maxScale:  1.2;
  
  /* Custom properties for fluid type */
  --step--2:  clamp(0.69rem,0.59rem + 0.45vw,1.04rem);
  --step--1:  clamp(0.83rem,0.71rem + 0.54vw,1.25rem);
  --step-0:  clamp(1rem,0.85rem + 0.65vw,1.5rem);
  --step-1:  clamp(1.2rem,1.03rem + 0.77vw,1.8rem);
  --step-2:  clamp(1.44rem,1.23rem + 0.93vw,2.16rem);
  --step-3:  clamp(1.73rem,1.48rem + 1.11vw,2.59rem);
  --step-4:  clamp(2.07rem,1.77rem + 1.34vw,3.11rem);
  --step-5:  clamp(2.49rem,2.13rem + 1.61vw,3.73rem);
  
  /* Custom properties for fluid spacing */
  --space-3xs:  clamp(0.25rem,0.21rem + 0.16vw,0.38rem);
  --space-2xs:  clamp(0.5rem,0.43rem + 0.32vw,0.75rem);
  --space-xs:  clamp(0.75rem,0.64rem + 0.48vw,1.13rem);
  --space-s:  clamp(1rem,0.85rem + 0.65vw,1.5rem);
  --space-m:  clamp(1.5rem,1.28rem + 0.97vw,2.25rem);
  --space-l:  clamp(2rem,1.71rem + 1.29vw,3rem);
  --space-xl:  clamp(3rem,2.56rem + 1.94vw,4.5rem);
  --space-2xl:  clamp(4rem,3.42rem + 2.58vw,6rem);
  --space-3xl:  clamp(6rem,5.13rem + 3.87vw,9rem);

  --font-base: Inter, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  --font-serif: Georgia, sans-serif;

    --hue: 270;
    --saturation: 50%;
    --lightness: 45%;
    --color-pale: hsl(var(--hue) var(--saturation) calc(var(--lightness) + 43%));
    --color-pale-hover: hsl(var(--hue) var(--saturation) calc(var(--lightness) + 50%));
    --color-solid: hsl(var(--hue) var(--saturation) var(--lightness));

    --card-width: 25ch;
    --gallery-width: 15rem;
    --preview-width: 60ch;

}

*, *::before, *::after {
    box-sizing: border-box;
}

/******************/
/* PAGE CONTAINER */
/******************/

#application-container > form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}

h4, ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

body {
    font-family: var(--font-serif);
    font-size: var(--step-0);
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
}

/************************************/
/* STYLE APPLICABLE TO ALL ELEMENTS */
/************************************/
img {
    max-inline-size: 100%;
    display: block;
}

input, button, textarea, select {
  font: inherit;
}

nav {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    margin: 2rem 2rem 2rem 0;
}

nav:first-of-type {
    position: sticky;
    top: 0;
}

label {
    display: block;
    font-weight: 600;
}

textarea {
    border: 0.2ch solid var(--color-pale);
    border-radius: 0.5ch;
    resize: both;
    line-height: 1.5;
    padding-left: 0.5ch;
}

.textarea-wrapper, radio-wrapper {
    display: flex;
    flex-direction: column;
}

ul {
  list-style: none;
  min-width: 25ch;
}

button {
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

button.cta {
    min-width:14ch;
    background-color: var(--color-solid);
    padding: 1ch 2ch;
    color: white;
    border-radius: 1ch;
}

.show-dropdown, .new-before, .new-after {
    color: var(--color-solid);
    background-color: var(--color-pale);
    border-radius: 0.5ch;
}

/* UPDATE RESULT SHOWN IN SPAN BENEATH INPUT ELEMENT */
.result {
    padding-left: 0.5ch;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.deploy-website {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.add-website {
    opacity: 0.2;
    transition: opacity 1s ease-in-out;
}

hr {
    inline-size: 100%;
}

/* ************** */
/* WEBSITE FORM   */
/* ************** */

form {
    border: 1px solid var(--color-pale);
    padding: 1rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

form > * + *   {
    margin-block-start: 2ch;
}

input {
    font-size: var(--step-0);
}

input[type="text"] + span {
    font-size: 70%;
    margin-inline-start: 1ch;
}

input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    inline-size: 2ch;
    block-size: 2ch;
    border: 1ch solid var(--color-pale);
    vertical-align: text-bottom;
    transition: 0.2s all linear;
}

input[type="radio"]:checked {
    border: 1ch solid var(--color-solid);
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.cluster label {
    display: initial;
    font-weight: initial;
}

form legend {
    font-weight: 600;
}

.deploy-buttons > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.delete-website {
    background-color: var(--color-secondary);
    color: var(--color-light-glare);
}

/* ************* */
/* DIALOG STYLES */
/* ************* */

dialog {
    border: none !important;
    border-radius: 0.7em;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    font-size: var(--step-0);
}

dialog.popup > div {
    display: grid;
    place-items: center;
}

dialog.popup {
    color: var(--color-secondary);
    text-align: center;
    inline-size: 50vw;
}

dialog.perftable > div, dialog.gallery > div {
    display: grid;
    gap: 1rem;
}

dialog.gallery fieldset {
    display: flex;
    justify-content: space-between;
}

dialog.gallery legend {
    border-radius: 0.3em;
    border-top: inherit;
    line-height: 1.5;
    background-color: inherit;
    padding-inline-start: 0.5em;
    padding-inline-end: 0.5em;
}

dialog.preview, dialog.perftable, dialog.gallery, dialog.editor {
    color: currentColor;
    inline-size: 100vw;
    block-size: 100vh;
}

dialog.preview > div, dialog.editor > div {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, var(--preview-width)) minmax(1rem, 1fr);
}

dialog.preview .details {
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 90%;
    line-height: 3;
    color: mediumslateblue;
}

dialog.preview h2:first-of-type {
    line-height: 1.2;
    text-decoration: slateblue solid underline;
    text-underline-position: under;
    text-align: center;
}

dialog h2 {
    line-height: 1.2;
    text-decoration: slateblue solid underline;
    text-underline-position: under;
    text-align: center;
}

dialog p {
    line-height: 1.5;
    margin: 0;
}

dialog a {
    outline: none;
    text-decoration: underline;
    text-underline-position: under;
}

dialog a:hover {
    text-decoration: none;
    background: var(--color-pale);
}

dialog button.close {
    place-self: start end;
    min-height: 44px;
    min-width: 44px;
    background-color: transparent;
    font-size: var(--step-4);
    color: var(--color-button);
    outline: 0;
    margin-inline-start: 2ch;
    position: sticky;
    top: 0;
}

dialog legend > button {
    color: var(--color-light);
    background-color: transparent;
    vertical-align: text-bottom;
}


dialog.list > div{
    inline-size: 90vw;
    display: grid;
    grid-template-columns: 1fr 44px;
}

dialog.list table {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    border-collapse: collapse;
    font-family: monospace;
    font-size: 1ch;
}

dialog.list th:nth-of-type(1) {
    width: 10%;
    text-align: left;
    vertical-align: top;
}

dialog.list th:nth-of-type(2) {
    width: 90%;
    text-align: left;
}

dialog.list td {
    vertical-align: top;
}

dialog.list tr {
    border-bottom: 1px solid var(--color-pale);
}


/* *************** */
/* DROPDOWN STYLES */
/* *************** */

.dropdown {
  position: relative;
}

.dropdown .dropdown-items {
    /*display: none;*/
    max-height: 0;
    transition: 0.5s linear;
    overflow:hidden;
    font-size: 85%;
    position: absolute;
    right: 1rem;
    background-color: white;
    margin: 0;
    padding:0;
    list-style-type: none;
    
    border-radius: 1ch;
}

.dropdown .dropdown-items.visible {
    /*display: block;*/
    max-height:100dvh;
    padding: 1ch;
    border: var(--color-solid) solid 1px;
}

.dropdown-items button {
    cursor: pointer;
    inline-size: 100%;
}

.dropdown-items li:hover {
    background-color: var(--color-pale-hover);
    border-radius: 0.5ch;
}

.icon {
    width: 1rem;
    height: 1rem;
    background-color: var(--color-pale);
}

.dropdown .icon {
    box-sizing: content-box;
    border-radius: 50%;
    padding: 0.5rem;
}

.dropdown .separator {
    border-top: solid 1px var(--color-solid);
}

.with-icon {
  display: inline-flex;
  align-items: center;
  padding: 1ch;
}

.with-icon .icon {
  margin-inline-end: 1rem;
}

button svg,
button use {
  pointer-events: none;
}


/* *************** */
/* CARD STYLES */
/* *************** */

nav button {
    background-color: transparent;
}

.button-container {
  display: flex;
  justify-content: space-between;
  /*margin-bottom: 0.5ch;*/
}

.cards {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(auto-fill,minmax(min(var(--card-width), 100%), 1fr));
    gap: 3ch;
}


.card[data-id="-1"] {
  display:none;
}

.card {
    border: 0.1em solid;
    border-radius: 0.5em;
    padding: 0.5em;
    display: grid;
    grid-template-rows: max-content max-content max-content 1fr;
    gap: 0.75em;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.card span {
    font-family: monospace;
}

.card img {
    object-fit: contain;
    inline-size: 100%;
    aspect-ratio: 4/3;
    margin: auto;
    cursor: pointer;
}

.card .no-media {
    display: inline-block;
    inline-size: 100%;
    aspect-ratio: 4/3;
    font-size: 150%;
    border-radius: 0.7em;
    background-color: var(--color-pale);
}

.card .title {
    line-height: 1.2;
    text-wrap: balance;
    margin-block-start: 0;
    margin-block-end: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.card:hover .title {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    color: var(--color-solid);
    cursor: pointer;
}

.card footer {
    font-style: italic;
    font-size: 50%;
}

.fade-out {
  animation: fade-out 1s forwards;
}

@keyframes fade-out {
  100% {
    opacity: 0;
    display: none;
  }
}


/* ******************* */
/* ARTICLE LIST STYLES */
/* ******************* */

.article-list {
  list-style: none;
  margin: 0;
  display: grid;
  grid-gap: 1ex;
  grid-template-columns: repeat(auto-fill, minmax(min(15ch, 100%), 1fr));
}

.article-list > li {
    border: 1px solid slategrey;
}

.article-list  figcaption {
    font-size: var(--step--1);
    text-wrap: balance;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

/* ************** */
/* EDITOR  STYLES */
/* ************** */

div.editor {
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 1;
    inset:0;
    margin: 0 auto;
    max-width: 70ch;
    padding: 0 2ch;
    background: rgba(255,255,255, .95);
    transition: opacity 2s;
    border: solid 1px var(--color-solid);
}

.editor .button-container {
    font-family: monspace;
    color: green;
    margin-top: 1ch;
}

.close-editor {
    font-size: 200%;
}


/* ******************************** */
/* OVERRIDE CKEDITOR DEFAULT STYLES */
/* ******************************** */

.ck-editor__editable_inline {
    max-height:calc(100dvh - 9rem);
    overscroll-behavior: contain;
}

.ck-content > * + * {
    margin-top: var(--space-s);
}

.ck-content h1 {
    font-size: var(--step-2);
    text-align: center;
}

.ck-content h2 {
    font-size: var(--step-1);
}

.ck-content h3 {
    font-size: var(--step-0);
}

.ck-content h4 {
    font-size: var(--step--1);
}

.ck-content pre code {
    font-size: var(--step--2);
    white-space: pre-wrap;
    overflow-x: auto;
    display: block;
    padding-bottom: var(--space-s);
}

.ck-content table {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    border-collapse: collapse;
}

.ck-content tr:nth-of-type(1) {
    background-color: var(--color-dark);
    color: var(--color-light-glare);
}

.ck-content td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: var(--space-s);
    padding-bottom: var(--space-s);
}

.ck-content tr {
    border-bottom: 1px solid var(--color-pale);
}

/* *************** */
/* GALLERY STYLES  */
/* *************** */

.gallery-container > ul {
  list-style: none;
  margin: 0;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(min(25ch, 100%), 1fr));
}

.drag-in-progress {
    opacity: 0.4;
}

.instruction {
    margin: 0 0 2ch 2ch;
}

.gallery-container .instruction > span {
  padding: 0 0.5em;
  color: var(--color-secondary);
}

.gallery-container ul img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: scale-down;
  max-height: 20ch; /* bollox safari */
}

.gallery-container .card > div:first-of-type {
    display: flex;
    justify-content: flex-end;
}

video, audio {
    inline-size: 100%;
}

video {
    min-height: 20ch;
}



/* ************************** */
/* GALLERY FULLSCREEN STYLES  */
/* ************************** */
.gallery-overlay {
    display: none;
    grid-template-areas: "overlay";
}

.gallery-overlay > img {
    grid-area: overlay;
    place-self: center;
    inline-size: 100vw;
    block-size: 100vh;
    object-fit: contain;
}

.gallery-overlay > span.counter {
    grid-area: overlay;
    place-self: start start;
    color: var(--color-light);
    font-size: 80%;
}

.gallery-overlay > button {
    grid-area: overlay;
    background-color: transparent;
    font-size: var(--step-2);
    color: var(--color-light) !important;
    outline: 0;
}

.gallery-overlay .copy-url {
    background-color: transparent;
    margin-left: -1em;
}

.gallery-overlay > button.close-fullscreen {
    place-self: start end;
}

.gallery-overlay > button.prev {
    place-self: center start;
}

.gallery-overlay > button.next {
    place-self: center end;
}

.gallery-overlay > fieldset {
    grid-area: overlay;
    place-self: end center;
    display: inline-block;
    font-size: var(--step-0);
    padding: 1em;
    background-color: var(--color-dark);
    color: var(--color-light);
}

/* ************************* */
/* PERFORMANCE TABLE STYLES  */
/* ************************* */
.perftable table {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    border-collapse: collapse;
    font-size: var(--step--2);
}

.perftable caption {
    caption-side: top;
    padding: 0.5rem;
}

.perftable th {
    background-color: var(--color-dark);
    color: var(--color-light-glare);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.perftable th:nth-of-type(1) {
    width: 25%;
}
.perftable th:nth-of-type(2) {
    width: 25%;
}
.perftable th:nth-of-type(3) {
    width: 15%;
}
.perftable th:nth-of-type(4) {
    width: 20%;
}
.perftable th:nth-of-type(5) {
    width: 15%;
}

.perftable td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.perftable tr {
    border-bottom: 1px solid var(--color-pale);
}

.perftable tr.last-tr {
    border-bottom: 2px solid var(--color-button);
}

.perftable .align-center {
    text-align: center;
}

.perftable .align-left {
    text-align: left;
}

.perftable .label {
    font-weight: bold;
}

.perftable figure {
    text-align: center;
    inline-size: 100%;
}

.perftable img {
    block-size: 15vh;
    object-fit: contain;
}