*,*::before,*::after {
    box-sizing: border-box;
}

body,h1,h2,h3,h4,p,figure,blockquote,dl,dd,ol,ul {
  margin: 0;
  padding: 0;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family), sans-serif;
    font-size: var(--step-0);
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    max-inline-size: var(--max-width);
    margin-inline: auto;
    padding-inline: 1rem;
}
body > * + * {
    margin-top: var(--space-m);
}

/* HEADER TYPOGRAPHY STYLES */
h1 {
    font-size: var(--step-4);
    text-align: center;
}
h2 {
    font-size: var(--step-3);
}
h3 {
    font-size: var(--step-2);
}
h4 {
    font-size: var(--step-1);
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4, button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2, h3, h4 {
  text-wrap: balance;
}

img, picture {
  max-width: 100%;
  display: block;
  object-fit: scale-down;
}

/* NEED TO REVIEW IMAGE CLASSES - MAYBE DO IT IN CKEDITOR */
img.float-right {
    float: right;
    border-radius: 0.5em;
    margin: 0 0 1em 1em;
}

input, textarea, button, select {
    font: inherit;
}

/* NAVIGATION LABEL STYLES */
nav[aria-label="Main Navigation"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    background-color: var(--color-background);
}

.nav-label {
    padding: var(--space-2xs);
}

.nav-label:not(.selected) {
    text-decoration: none;
}

.nav-label.selected {
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: var(--space-3xs);
    text-underline-offset: var(--space-3xs);
    text-decoration-skip-ink: none;
}

/* LOGO STYLES */
div.logo {
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

div.logo svg {
    inline-size: 5em;
}

/*
** BLOCKQUOTE
*/
blockquote {
    padding-inline: var(--space-m);
    margin-inline: var(--space-m);
    border-inline-start: solid var(--space-3xs) #ccc;
    font-style: italic;
}

/*
** CODE BLOCKS
*/
pre {
    background: hsla(0, 0%, 78%, .3);
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    color: #353535;
    direction: ltr;
    font-style: normal;
    font-size: 70%;
    padding: 1em;
    tab-size: 4;
    text-align: left;
    overflow-x: auto;
}

/*
** BLOG POST LISTING
*/
.blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(22rem,100%), 1fr));
    gap: var(--space-m);
}

.card:nth-child(1) {
    grid-column: span 2;
}

@media (max-width: 680px) {
  .blog {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-bottom: 2em;
  }
}

.card {
    --border-radius: var(--space-2xs);
    position: relative;
    border: solid 1px var(--color-primary);
    border-radius: var(--border-radius);
    list-style-type: none;
}

.card:hover, .card:focus-within {
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.card h4 {
    text-transform: uppercase;
}

.card .date {
  font-family: monospace;
  letter-spacing: 2px;
  background-color: #e6e6e6;
  inline-size: fit-content;
  padding: var(--space-3xs);
}

.card .words {
  margin-inline-start: auto;
}

.card:not(:first-child) .text > * {
    font-size: 80%;
}

.card a::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.card a {
    text-decoration: none;
    color: var(--color-text);
}

.card:hover a {
    color: var(--color-primary);
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    /*text-underline-offset: 0.5ch;*/
    text-decoration-skip-ink: none;
}

.card, .card .text {
    display:flex;
    flex-direction: column;
}

.card .text {
    flex-grow: 1;
    padding: var(--space-s);
}

.card .text > * + * {
    margin-top: 0.75rem;
}

.card .text :nth-last-child(2) {
    margin-bottom: 0.75rem;
}

.card .text > :last-child {
    margin-top: auto;
    font-style: italic;
}

.card img {
    width:100%;
    height: var(--space-3xl);
    object-fit: cover;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

/* ANCHOR (WITH SVG) STYLES */
a:has(svg) {
    display: inline-flex;
    gap: 1em;
    align-items: center;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 0.3ex;
    text-underline-offset: 0.5ex;
    cursor: pointer;
}
svg.icon {
    inline-size: 1.5em;
    block-size: 1.5em;
}

/* ELEMENT WITH BORDER. CENTERED IMAGE */
.with-border {
    border: solid 1px var(--color-primary);
    padding: var(--space-m);
    border-radius: var(--space-s);
}

.with-border img {
    border-radius: var(--space-s);
    margin-inline: auto;
}

/* UNORDERED LIST ITEMS WITH BORDER. SET CLASS ON UNSUPPORTED CKEDITOR ANCESTOR ELEMENT */
.with-border-list ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-s);
}

.with-border-list li {
    list-style: none;
    border: solid 1px var(--color-primary);
    border-radius: var(--space-s);
    padding: var(--space-s);
}

/* AUTO-FIT CARD ELEMENTS. ELEMENTS AT END OF EACH CARD ALIGNED AT BOTTOM */
.auto-fit-cards {
    clear: both;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: var(--space-l);
    & > * {
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      & :nth-last-child(2) {
        margin-block-end: var(--space-s);
      }
      & :last-child {
        margin-block-start: auto;
      }
  }
}

/* AUTO-FILL CARD ELEMENTS. ELEMENTS AT END OF EACH CARD ALIGNED AT BOTTOM */
.gallery-list {
    list-style: none;
    display: grid;
    gap: var(--space-2xs);
    grid-template-columns: repeat(auto-fill, minmax(min(var(--space-3xl), 100%), 1fr));
}

img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

figcaption {
  font-size: var(--step--2);
  background-color: #f7f7f7;
  padding: var(--space-3xs) var(--space-2xs);
  text-align: center;
  word-break: break-all;
}

/* CONTACT FORM STYLES */
.contact {
    display: grid;
    place-items: center;
    gap: 1em;
}

.contact > p {
    text-align:center;
}

.contact .copy-content {
    display: inline-flex;
    gap: .5em;
    cursor: pointer;
    border: 0;
}

.contact .copy-content svg {
    inline-size: .8em;
}

.contact .result {
    color: green;
    opacity: 0;
    transition: opacity 1ms;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    inline-size: fit-content;
    border: solid 1px var(--color-primary);
    padding: 1em;
    border-radius: 0.5em;
}

form label {
    display: block;
    font-weight: 600;
}

form input {
    inline-size: 95%;
    line-height: 2;
}

button[type='submit'] {
    inline-size: fit-content;
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
}

/* PUSHABLE BUTTON STYLES */
.pushable {
    inline-size: fit-content;
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  .front {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .pushable:hover {
    filter: brightness(110%);
  }
  .pushable:hover .front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }

  /* DIALOG STYLES */
  dialog {
  max-inline-size: min(60ch,90vw);
  overscroll-behavior: contain;
}

dialog > div:first-of-type {
  display: grid;
  grid-template-columns: 1fr 44px;
}

dialog h2 {
  text-align: center;
}

dialog button.close {
  place-self: start end;
  background-color: transparent;
  font-size: var(--step-2);
  outline: 0;
  border: 0;
  position: sticky;
  top: 0;
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  } 
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}